{{ attach_library('accesio/share') }}

<div {{ attributes.addClass('rrssb').addClass("rrssb-bs-#{button_set}").addClass('share') }}>
  {% if prefix_text %}
    <div class="rrssb-prefix share__prefix">{{ prefix_text }}</div>
  {% endif %}
  <ul class="rrssb-buttons share__items">
    {% for button in buttons %}
      <li class="rrssb-{{ button.name }} share__item">
        <a href="{{ button.link }}" {{ button.class | raw }} title="{{ 'Share on'|t }} {{ button.name }}">
          <span class="rrssb-icon share__icon share__icon--{{- button.name }}">
            {% if button.name == 'email' %}
              <i class="ri-mail-add-line ri-2x"></i>
            {% else %}
              <i class="ri-{{- button.name -}}-fill ri-2x"></i>
            {% endif %}
          </span>
          <span class="rrssb-text share__text">{{ button.text }}</span>
        </a>
      </li>
    {% endfor %}
  </ul>
</div>
